SERIAL_NUMBER,PXE_IP,HOSTNAME,ADMIN_NAME,ADMIN_IP,ADMIN_INTERFACE,PUBLIC_NAME,PUBLIC_IP,PUBLIC_INTERFACE,PRIVATE_NAME,PRIVATE_IP,PRIVATE_INTERFACE,STORAGE_NAME,STORAGE_IP,STORAGE_INTERFACE
217360603-01A,192.168.0.96,compute01.vm.jljwy,bond0,10.72.222.23,"ens33,ens37",,,,,,,bond1.20,172.16.0.2,"enp1s0f0,enp1s0f1"
